$color1:#000000;
$color2: #1078AD;
$color3:#7F7F7F;
$color4:#FFFFFF;
$color5:#F4CF1B;

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.background {
    width: 100%;
   
     
}

.logo-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -7.1em;
    margin-left: 2%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    float: right;
    margin-top: -3%;
    margin-right: 3%;


    li {
        display: inline-block;
        list-style: none;

        &__color {
            color: $color1;
        }

        a {
            text-decoration: none;
            font-size: 110%;

        }

    }

    .menu__button {

        background-color: transparent;
        border: 2px solid #1078AD;
        border-radius: 10px;
        padding:2%  7%;
        font-size: 2.5vh;
    }

    .img {
        width: 5%;
        height: 5%;
        position: relative;
        right: 22%;
        padding: 2%;
    }

}
.logo-menu {
    margin-top: -3.77em;
    color: $color3;
    margin-left: 3%;
}