$color1:#000000;
$color2: #1078AD;
$color3:#7F7F7F;
$color4:#FFFFFF;
$color5:#F4CF1B;


.test {
    background-color: #96C5DC;
    margin-top: -2%;
    text-align: center;
    padding: 3.5%;




    &__titre {
        color: $color2;
        position: absolute;
        left: 15%;
        font-size: 4vh;



    }

    &__icon {
        position: relative;
        left: 22%;
        top: 40%;
        padding-top: 7%;
    }

}

.test__titre--color {
    position: relative;
    bottom: -6vh;
    left: -7%;
    color: $color4;
    border-radius: 3px;
    border: none;
    background-color: #1078AD;
    color: $color4;
    font-size: 20px;
    padding: 1% 10%;
}