$color1:#000000;
$color2: #1078AD;
$color3:#7F7F7F;
$color4:#FFFFFF;
$color5:#F4CF1B;

@import"sass/header.scss";
@import"sass/Recomendation.scss";
@import"sass/section3.scss";
@import"sass/footer.scss";




.symptome {
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    &__question {
        color: $color2;
        min-width: 20%;
        position: relative;
        left: 15%;
        font-size: 15px;
        text-indent: 20px;

    }

    &__image--maladie {
        height: 5%;
        width: 5%;
        margin-top: 8%;
        position: relative;
        left: 1%;

    }

    &__question--color {
        margin-top: 15%;
        position: relative;
        right: 10%;
        color: $color3;

        span {
            margin-left: 14%;
        }

        .deferent {
            margin-left: 2%;
        }
    }
}

.symptom-button {
    position: relative;
    left: 52%;
    margin-top: -8%;
}

.titre-test {
    color: $color4;
    position: absolute;
    top: 115vh;
    left: 65%;
}



