$color1:#000000;
$color2: #1078AD;
$color3:#7F7F7F;
$color4:#FFFFFF;
$color5:#F4CF1B;

@import"sass/header.scss";
@import"sass/Recomendation.scss";
@import"sass/section3.scss";
@import"sass/footer.scss";




.symptome {
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    &__question {
        color: $color2;
        min-width: 20%;
        position: relative;
        left: 15%;
        font-size: 15px;
        text-indent: 20px;

    }

    &__image--maladie {
        height: 5%;
        width: 5%;
        margin-top: 8%;
        position: relative;
        left: 1%;

    }

    &__question--color {
        margin-top: 15%;
        position: relative;
        right: 10%;
        color: $color3;

        span {
            margin-left: 14%;
        }

        .deferent {
            margin-left: 2%;
        }
    }
}

.symptom-button {
    position: relative;
    left: 52%;
    margin-top: -8%;
}

.titre-test {
    
    position: absolute;
    top:110%;
    left: 65%;
    padding: 1% 10%;
    border-radius: 3px;
    border: none;
    background-color: #1078AD;
    color: $color4;
    font-size: 20px;
    
}
.parti1{
    display : flex;
    position: relative;
    
    &medical{
        // margin-left: 15%;

        &titre{
        text-align: center;
        color:#1078AD;
        font-size: 30px;
        margin-left: 9%;
        }
        &emoticon{
            margin-top: 3%;
            margin-left: 40%;
        }
        &para{
            color: #7F7F7F;
            font-weight: 500;
            text-align: center;
            font-size: 24px;
            margin-left: 16%;
            margin-right: 10%;
        }
        &__butt{

            height: 38px;
            margin-top: 2%;
            margin-left: 18%;
            color:white;
            text-align: center;

            font-size: 24px;
            background-color: #1078AD;
        }
    }
}
.btn{
    font-size: 20px;
     padding: 5px 200px ;
    margin-left:40px ;
    color:#1078AD ;
    background-color: #96C5DC;
    border:2px solid #1078AD;
    border-radius: 5px;
    transition: .5s all ease;

}
.btn:hover{
    color: white;
    background-color: #1078AD;
}


